.main {
    background-image: url("https://img.freepik.com/free-photo/full-shot-travel-concept-with-landmarks_23-2149153258.jpg?t=st=1746120923~exp=1746124523~hmac=a9a4f76d62c088ce8d9a2568932b9eb3b93de8336272a7bf85cf835ed89af3d1&w=1380");
    background-size: cover;
}
.nav-links {
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    gap: 20px;
}
